<!DOCTYPE HTML>

<html>

<head>
	<title>Turas</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="{{ url_for('home') }}" class="logo"><strong>Turas</strong> Health Care Recruitment Portal</a>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
						</li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						{% for message in messages %}
						<div id='hideMe'>
							<div class="modal-content">
								<span class="close2">&times;</span>
								{{ message }}
							</div>
						</div>
						{% endfor %}
						{% endif %}
						{% endwith %}
						<header>
							<h1>Welcome to Turas, your one stop<br />
								for getting your dream job</h1>
							<p>Please Register to search and apply for open positions</p>

							<h3>Registration Form</h3>

							<form method="post" action="{{ url_for('company_api.company_register') }}" id="regForm">
								<div class="tab">
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="recruiter_name" id="candidate_name" value=""
												placeholder="Recriter Full Name" oninput="this.className = ''"
												required /><br />
										</div><br />
									</div>
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="email" name="company_email" min="8" id="candidate_email"
												value="" placeholder="Official Email ID" oninput="this.className = ''"
												required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" /><br />
										</div><br />
									</div>
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="password" min="8"
												title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number"
												name="company_password" id="company_password" value=""
												placeholder="Password" oninput="this.className = ''" required
												pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" /><br />
										</div><br />
									</div>
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="password" name="cpassword" id="cpassword" value=""
												placeholder="Confirm Password" oninput="this.className = ''"
												required /><br />
										</div>
									</div>
								</div>
								<div class="tab">

									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="company_name" id="company_name" value=""
												placeholder="Name of the Hospital" oninput="this.className = ''"
												required /><br />
										</div><br />
									</div><br />
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="tel" name="company_phone" id="company_phone" value=""
												placeholder="Hospital Contact Number" oninput="this.className = ''"
												required /><br />
										</div><br />
									</div><br />
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="company_reg_id" id="company_reg_id" value=""
												placeholder="Hospital Primary Registration ID" maxlength="100"
												oninput="this.className = ''" required /><br />
										</div><br />
									</div>
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="company_br_id" id="company_br_id" value=""
												placeholder="Branch Registration id" /></br />
										</div><br />
									</div>
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="company_website" id="company_website" value=""
												placeholder="Company Wesite" required /></br />
										</div>
									</div>
									<br />

								</div>
								<div class="tab">
									<div class="row gtr-uniform">
										<div class="col-12">
											<select name="company_state" id="company_state">
												<option value="">State : </option>
												<option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
												<option value="CA">California</option>
												<option value="CO">Colorado</option>
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="DC">District Of Columbia</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="HI">Hawaii</option>
												<option value="ID">Idaho</option>
												<option value="IL">Illinois</option>
												<option value="IN">Indiana</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NV">Nevada</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NM">New Mexico</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="ND">North Dakota</option>
												<option value="OH">Ohio</option>
												<option value="OK">Oklahoma</option>
												<option value="OR">Oregon</option>
												<option value="PA">Pennsylvania</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="SD">South Dakota</option>
												<option value="TN">Tennessee</option>
												<option value="TX">Texas</option>
												<option value="UT">Utah</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WA">Washington</option>
												<option value="WV">West Virginia</option>
												<option value="WI">Wisconsin</option>
												<option value="WY">Wyoming</option>
												<option value="O">Others</option>

											</select>
										</div>
									</div><br />
									<div class="row gtr-uniform">
										<div class="col-12">
											<select name="company_country" id="company_country">
												<option value="">Country : /option>
												<option value="USA">United States of America</option>
												<option value="O">Others</option>

											</select>
										</div>
									</div>
									<br />
									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="company_zip" id="company_zip" value=""
												placeholder="Zip Code" required /></br />
										</div></br />
									</div>

									<div class="row gtr-uniform">
										<div class="col-6 col-12-xsmall">
											<input type="number" name="company_total_employees"
												id="company_total_employees" value=""
												placeholder="Hospital Total Employees" oninput="this.className = ''"
												required /><br />
										</div>
									</div>
								</div>

								<div style="overflow:auto;">
									<ul class="actions">
										<li><a onClick="nextPrev(-1)" class="button primary">Previous</a></li>
										<li><a onClick="nextPrev(1)" class="button">Next</a></li>
									</ul>
								</div>
								<!-- Circles which indicates the steps of the form: -->
								<div style="text-align:center;margin-top:40px;">
									<span class="step"></span>
									<span class="step"></span>
									<span class="step"></span>
								</div>
							</form>
					</div>

				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Turas. All rights reserved. Design: <a href="#">Navaneeth A</a>.</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/register_comp.js') }}"></script>

</body>

</html>